<div id="sidebar">
  <mat-nav-list>
    <mat-list-item><a>Home</a></mat-list-item>
    <mat-list-item><a>Profile</a></mat-list-item>
    <mat-list-item><a>Search</a></mat-list-item>
    <mat-list-item><a>Analytics</a></mat-list-item>
    <mat-list-item><a>My Diary</a></mat-list-item>
    <mat-list-item><a>Saved Articles</a></mat-list-item>
    <mat-list-item><a>Library</a></mat-list-item>
    <mat-list-item><a>Store</a></mat-list-item>
    <mat-list-item><a>Settings</a></mat-list-item>
  </mat-nav-list>
</div>
